
ul, li, h1, h2, h3, h4, h5, h6, p, div, section, article, a, body, html, button, input, textarea {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  text-align: inherit;
  text-decoration: none;
  box-sizing: inherit;
  outline: 0
}

button, a, li {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

ul {
  list-style: none;
}

body {
  box-sizing: content-box;
  font-family: sans-serif;
  background: #191919;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

input {
  -webkit-appearance: none;
}

/**/
.content {
  position: relative;
  width: 75%;
  float: left;
}

.sidebar {
  position: fixed;
  width: 25%;
  right: 0;
  background: #D3D3D3;
  height: 100%;
}



.options {
    position: relative;
    height: 200px;
    margin: 20px auto;
    width: calc(38em + 40px);
}

.total {
    position: relative;
    top: 100%;
    transform: translateY(-100%);
    text-align: center;
    margin-right: -2px;
    border: 2px solid #D3D3D3;
    display: block;
    width: 2em;
    float: left;
}

.option {
    border: 1px solid black;
    box-sizing: border-box;
    height: 1.25em;
}

.option-total {
    font-weight: bold;
}

.option.active {
    background: #FAFAFA;
}

.board {
    position: relative;
    height: 27.8em;
    width: 32em;
    margin: auto;
}

.triangle {
    height: 3.464em;
    width: 4em;
    position: absolute;
}
.triangle:after {
    position: absolute;
    top:0;
    left:0;
    content: "";
    border-style: solid;
    border-color: #D3D3D3 transparent;
    border-width: 0 2em 3.5em 2em;
}
.triangle.upsidedown:after {
    position: absolute;
    top:0;
    left:0;
    content: "";
    border-style: solid;
    border-color: #FAFAFA transparent;
    border-width: 3.5em 2em 0 2em;
}
.triangle p {
    position: relative;
    text-align: center;
    z-index: 10;
    top: 50%;
    font-weight: bold;
    font-size: 1em;
}

.triangle.upsidedown p{
    transform: translateY(-100%);
}

.side {
    position: absolute;
    height: 1em;
    width: 1em;
    background: #6666FF;
    z-index: 10;
    border-radius: 100%;
    border-color: blue transparent;
}

.triangle.upsidedown .side:nth-child(2) {
    top: 1.8em;
    right: 1em;
    transform: translateX(50%) translateY(-50%);
}

.triangle.upsidedown .side:first-child {
    top:0em;
    left:2em;
    transform: translateX(-50%) translateY(-50%);
}

.triangle.upsidedown .side:last-child {
    top: 1.8em;
    left: 1em;
    transform: translateX(-50%) translateY(-50%);
}

.triangle:not(.upsidedown) .side:nth-child(2) {
    top: 1.8em;
    right: 1em;
    transform: translateX(50%) translateY(-50%);
}

.triangle:not(.upsidedown) .side:first-child {
    bottom:0em;
    left:2em;
    transform: translateX(-50%) translateY(50%);
}

.triangle:not(.upsidedown) .side:last-child {
    top: 1.8em;
    left: 1em;
    transform: translateX(-50%) translateY(-50%);
}

.possibilities {
  position: absolute;
  background: rgba(255, 170, 170, 0.7);
  width: 119px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}

.possibility {
  width: 17px;
  display: inline-block;
  position: relative;
  float: left;
  border: 2px solid #6666FF;
  padding: 2px;
  box-sizing: border-box;
}

.side:hover {
  background: #0B0B67;
}

.possibility:hover {
  background: #D46A6A;
}

.option:hover {
  background: #949BA4;
}

.option.option-total:hover {
  background: #B19896;
}